* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #050a0e;
  background-image: radial-gradient(
    circle at top right,
    #12ff5f40,
    #000000 60%
  );
  color: #12ff5f;
}
.Skills{
  background-color: #050a0e;
  background-image: radial-gradient(
    circle at top left,
    #4510f740,
    #000000 70%
  );
}
.GetInTuch{
  background-color: #050a0e;
  background-image: radial-gradient(
    circle at top right,
    #12ff5f40,
    #000000 60%
  );
}

.m-1 {
  margin: 0.25rem /* 4px */;
}
.m-3 {
  margin: 0.75rem /* 12px */;
}

.p-1 {
  padding: 0.25rem /* 4px */;
}
.p-2 {
  padding: 0.5rem /* 8px */;
}
.p-4 {
  padding: 1rem /* 16px */;
}
.p-6 {
  padding: 1.5rem /* 24px */;
}
.px-1 {
  padding-left: 0.8rem /* 4px */;
  padding-right: 0.8rem /* 4px */;
}
.px-2 {
  padding-left: 2rem /* 8px */;
  padding-right: 2rem /* 8px */;
}

.px-4 {
  padding-left: 3rem /* 20px */;
  padding-right: 3rem /* 20px */;
}

.py-1 {
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
}
.py-4 {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}
.my-4 {
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
}
.my-5 {
  margin-top: 1.25rem /* 20px */;
  margin-bottom: 1.25rem /* 20px */;
}
.my-8 {
  margin-top: 2rem /* 32px */;
  margin-bottom: 2rem /* 32px */;
}
.mx-4 {
  margin-left: 1rem /* 16px */;
  margin-right: 1rem /* 16px */;
}
.mx-12 {
  margin-left: 3rem /* 48px */;
  margin-right: 3rem /* 48px */;
}
.mt-1 {
  margin-top: 0.25rem /* 4px */;
}
.mt-2 {
  margin-top: 1rem /* 8px */;
}

.mt-12 {
    margin-top: 3rem /* 48px */;
}


@media (min-width:1020px) {
  .section-1{
    display: flex;
    flex-direction: row;
    .profilePhoto{
      margin-top: 5rem;
    }
  }
  .box{
    font-size: 2rem;
  }
  .Skills{
    .boxItems{
      gap:3rem;
      margin-top: 2.5rem;
    }
  }
  .GetInTuch{
    .tuch{
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

.marquee-container {
  width: 100%;
  background-color: green; /* Background color */
  color: black; /* Text color */
  font-size: 16px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  padding: 1.4rem 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
